@import "./fonts.scss";
@import "./variables.scss";
@import "./mixins.scss";


body {
  // background: linear-gradient(130deg, rgba(249,249,249,1) 0%, rgba(235,18,123,1) 28%, rgba(121,21,105,1) 80%, rgba(0,206,255,1) 100%);
  // background-color: $main-color;
  height: 100%;
  width: 100vw;
  font-family: $main-font;

  @include mobile {
    background-color: $main-color;
  }

  .App {
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    height: 100vh;

    h1 {
      color: $white-color;
      font-size: 64px;
      font-weight: 900;
      padding-bottom: 2%;
      font-weight: 900;
      text-align: right;
  
      @include mobile {
        font-size: 46px;
      }
    }

    .videoTag {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: -5;
    
      @include mobile {
        visibility: hidden;
      }
  }

  .container {
    max-width: 1352px;
    margin: 0 auto;

    @include tablet {
      width: 100%;
      padding: 0 15px;
    }
  }
}
 
  .hidden {
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}

