@import "./fonts.scss";
@import "./variables.scss";

.header {
    min-height: 10vh;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    #title {
        color: $white-color;
        font-family: $logo-font;
        font-size: 32px;
    }
    
    a {
        text-decoration: none;
    }
    
    #logo {
        padding-right: 16px;
    }
}

