@import "../../styles/variables.scss";
@import "../../styles/fonts.scss";
@import "../../styles/mixins.scss";


.place-select {
    width: 20vw;

    @include mobile {
        width: 70vw;
        margin-bottom: 5px;
    }
}

.searchbar-form {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 15px 0;
    border-radius: $border-radius;
    margin-bottom: 2vh;
    justify-content: space-around;

    @include mobile {
        flex-direction: column;
        align-items: center;
    }
}

.search-options {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 2vh;

    #roundtrip {
        margin-right: 1vw;
    }   
}



.search-input {
    margin-right: 1vw;
}

button {
    padding: 10px 20px;
    border-color: transparent;
    border-radius: $border-radius;
    background-color: $white-color;
    color: $main-color;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;

    &:hover {
        border: $btn-border;
    }
}



.main-button {
    background-color: $main-color;
    font-weight: 800;
    color: $white-color;
    padding: 0 20px;
    text-transform: uppercase;

    @include mobile {
        margin: 10px 0;
        padding: 10px 20px;
    }

}

#sort-prices {
    width: 200px;
}

#search:hover {
    background-color: $light-blue-color;
    color: $white-color;
}

.btn_buy {
    background-color: $main-color;
    color: $white-color;
}

.date-input {
    color: $gray-color;
    padding: 5px;
    margin: 5px 0;
    outline: none;

    @include mobile {
        width: 70vw;
        text-align: center;
    }
  }
  .date-input:focus,
  .dateinput:active {
    border: 2px solid $blue-color;
  }