@import "../../styles/variables.scss";
@import "../../styles/fonts.scss";
@import "../../styles/mixins.scss";

.footer {
    // background-color: $main-color;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @include mobile {
        position: absolute;
        bottom: 0;
        width: 400px;
    }
}