@import "../../styles/variables.scss";
@import "../../styles/fonts.scss";
@import "../../styles/mixins.scss";

.footer {
    // background-color: $main-color;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @include mobile {
        display: none;
    }

    img {
        width: 50px;

        @include mobile {
            width: 30px;
        }
    }
}